*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Fill{
    width: 100vw;
    height: 100vh;
}

.mainCanvas{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}