*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Fill{
    width: 100vw;
    height: 100vh;
}

Canvas{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

div.label {
    background-color: white;
    border: 1px solid #888888;
    padding: 5px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    offset: 5px;
  }
  